<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <record name="listeners" javaclass="com.wm.util.Values">
    <record name="HTTPListener@7777" javaclass="com.wm.util.Values">
      <number name="port" type="Integer">7777</number>
      <value name="protocol">HTTP</value>
      <value name="pkg">ESBUIPackage</value>
      <value name="enabled">true</value>
      <value name="key">HTTPListener@7777</value>
      <value name="factoryKey">webMethods/HTTP</value>
      <value name="configURL">/WmRoot/configHTTP.dsp</value>
      <value name="provider">webMethods</value>
      <value name="listenerType">Regular</value>
      <null name="clientAuth"/>
      <value name="ssl">false</value>
      <value name="maxQueue">200</value>
      <value name="keepAliveTimeout">20000</value>
      <value name="internalPort">-1</value>
      <value name="curDelay">0</value>
      <value name="stepsize">10000</value>
      <value name="suspended">false</value>
    </record>
  </record>
  <record name="access" javaclass="com.wm.util.Values">
    <record name="HTTPListener@7777" javaclass="com.wm.util.Values">
      <null name="home"/>
      <value name="default">include</value>
      <record name="nodes" javaclass="com.wm.util.StringSet">
        <list name="elements">
        </list>
      </record>
      <value name="key">HTTPListener@7777</value>
    </record>
  </record>
</Values>
